# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# Django
db.sqlite3
*.log
media/

# VS Code
.vscode/

# Env / secrets
.env
.env.*
